body {
    background-color: #202122;
    color: white;
  }

a {
  color:white;
}
a:hover{
  text-decoration: none;
}

  h1{
    font-style: Jaro;
    font-size: 6rem;
    color:#6E202F;
    text-shadow: 3px 3px 3px black;
  }
  