html {
  font-size: 16px;
}

body {
    background-color: #282a2b;
    color: white;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

/* Here the header element will be defined */
 .header{
  display: flex;
}

a{
  color:white;
  font-size: 1.5rem;
  padding: 10px;
}

.logo img {
  height: 55px;
  width:55px;
  position: absolute;
  left: 20px;
  top: 10px;
}

.links {
  position: absolute; /* Fixed position to place it relative to the page */
  top: 10px; /* Adjust top positioning as needed */
  right: 20px; /* Adjust right positioning as needed */
}


a:hover{
  text-decoration: none;
}

  h1{
    font-style: Jaro;
    font-size: 6rem;
    color: #961e30;;
    text-shadow: 3px 3px 3px black;
    margin: 0;
    
  }


/* Here the log-in element will be defined */
.log-in {
  border-color: white;
  border: solid;
  margin: 5px;
  width: 50%;
  padding: 0.5em;
}


/* Here the mission will be defined */
h3 {
  font-style: italic;
}

.about {
  display:flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content:center;
  gap: 20px;
}

.feature{
  flex: 1 1 calc(50% - 20px); /* 50% width minus the gap */
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px;
}
.feature img{
  height:155px;
  width:165px;
  border: solid;
}

.solid-white-line {
  border: 0;
  height: 2px;
  background: white;
  margin: 20px 0; /* Adjust as needed */
  width: 75%; 
}

/* Here the footer contact will be defined */

.contact {
  display: flex;
  border: solid;
  gap: 10px;
  align-items: center;
  padding-left: 5px;
}

.contact img{
  height: 150px;
  width: 150px;
}

.image-container {
  width: 100%;
  position: absolute; /* Position at the bottom of the body */
  bottom: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  background-color: #282a2b; /* Match body background color */
  padding: 20px 0;
}

@media only screen and (max-width: 600px) {

}